.cart {
    min-height: 80vh;
    display: flex;
    justify-content: center;

    &-cta {
        display: flex;
        flex-direction: column;

        align-items: center;
        width: 30%;
    }

    &__container {
        display: flex;

        justify-content: center;
    }
    h1 {
        margin-top: 32px;
        margin-bottom: 26px;
        text-align: center;
    }

    &__items {
        margin-top: 28px;
    }

    &__item {
        display: flex;

        gap: 82px;
        margin-bottom: 26px;

        &-title {
            padding-top: 26px;
            font-size: 18px;

            &--primary {
                font-weight: bold;
            }

            &--secondary {
                font-weight: light;
                font-size: 16px;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-actions {
            padding-top: 32px;
            gap: 18px;
            display: flex;
            flex-direction: column;
        }

        &-qty-display {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    &__btn--remove {
        width: 112px;
    }

    &__item-img {
        max-width: 300px;
    }

    &__summary {
        display: flex;
        flex-direction: column;

        margin-top: 28px;
    }
}
.order-info {
    padding-left: 18px;
    padding-top: 42px;
    color: red;
}
