.form {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 48px;

    &__heading {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 18px;
        margin-bottom: 6px;
    }

    input {
        margin-bottom: 12px;
        margin-right: 8px;
    }
}
